<div class=container>
    <stepper [step]=2></stepper>
    <div class="card">
        <div class="card-header">
            <h5 class="card-title mb-0">  Correspondance des champs avec le modèle </h5>
        </div>
        <div class="card-body" *ngIf="formReady">
                
            <!-- Choix de la liste des nomenclatures -->
            <form class="was-validated">
                <fieldset>
                    <div *ngIf="cruvedStore?.cruved?.IMPORT.module_objects.MAPPING.cruved.R != '0'">
                        <legend class="px-1">
                            Choix du modèle d'imports
                        </legend>
                            <select 
                                class="form-control form-control-sm" 
                                id="mappingSelection"
                                [formControl]="fieldMappingForm"
                                [compareWith]="compareFn"
                                [disableControl]="userFieldMappings.length == 1"
                            >
                                <option *ngFor="let data of userFieldMappings" [ngValue]="data">
                                    {{data.mapping_label}}</option>
                            </select>
                    </div>
                    <div class="d-flex flex-row justify-content-between mt-3"> 

                        <div class="d-flex justify-content-center align-content-between">
                            <button
                                *ngIf="cruvedStore?.cruved?.IMPORT.module_objects.MAPPING.cruved.C != '0'"
                                class="btn btn-secondary btn-sm mb-3"
                                (click)="createMapping()">
                                Nouveau modèle d'import
                            </button>
                            <button
                                *ngIf="cruvedStore?.cruved?.IMPORT.module_objects.MAPPING.cruved.U != '0' && fieldMappingForm?.value?.cruved.U"
                                class="btn btn-secondary btn-sm mb-3 ml-1"
                                (click)="renameMapping()"
                                [disabled]="canUpdateMapping() || fieldMappingForm.value === '' || fieldMappingForm.value == null">
                                Modifier le nom du modèle d'import
                            </button>
                        </div>

                        <div *ngIf="this.IMPORT_CONFIG.DISPLAY_CHECK_BOX_MAPPED_FIELD" class="form-check">
                                <input type="checkbox" [(ngModel)]="displayAllValues" [ngModelOptions]="{standalone: true}">
                                Afficher les champs automatiquement associés
                        </div>
                    </div>
                    <div *ngIf="newMapping" class="d-flex flex-row justify-content-between form_group" id="newMap">
                        <input type="text" class="form-control mr-2" value="Inconnu" [formControl]="newMappingForm">
                        <button
                            class="btn btn-success box-shadow d-flex justify-content-center align-content-between mr-2"
                            (click)="saveMappingName(newMappingForm.value, syntheseForm)"
                            [disabled]="newMappingForm.value == null">
                            ok
                        </button>
                        <button class="btn btn-secondary box-shadow d-flex justify-content-center align-content-between"
                            (click)="cancelMapping()">
                            annuler
                        </button>
                    </div>

                    <div *ngIf="updateMapping" class="d-flex flex-row justify-content-between form_group" id="updateMap">
                            <input type="text" class="form-control mr-2" value="Inconnu" [formControl]="newMappingForm">
                            <button
                                class="btn btn-success box-shadow d-flex justify-content-center align-content-between mr-2"
                                (click)="updateMappingName(newMappingForm.value)"
                                [disabled]="newMappingForm.value == null">
                                ok
                            </button>
                            <button class="btn btn-secondary box-shadow d-flex justify-content-center align-content-between"
                                (click)="cancelMapping()">
                                annuler
                            </button>
                    </div>

                    <div *ngIf="fieldMappingForm.value != null">
                        <div *ngIf="this.unmappedColCount == 0" class="alert alert-success" role="alert" style="text-align: center;">
                            L'ensemble des champs du fichier ont été automatiquement associés aux champs du modèle d'import.
                        </div>
                        <div *ngIf="this.mappedColCount == 1" class="alert alert-success" role="alert" style="text-align: center;">
                            1 seul champ du fichier a pu être automatiquement associé aux champs du modèle d'import.<br>
                            {{this.unmappedColCount}} restent à associer manuellement.   
                        </div>
                        <div *ngIf="this.unmappedColCount > 0 && this.mappedColCount > 1" class="alert alert-success" role="alert" style="text-align: center;">
                            {{this.mappedColCount}} champs du fichier ont été automatiquement associés aux champs du modèle d'import.<br>
                            {{this.unmappedColCount}} restent à associer manuellement.
                        </div>
                        <div *ngIf="this.unmappedColCount == 0" class="alert alert-danger" role="alert" style="text-align: center;">
                            Aucun champ du fichier n'a pu être associé aux champs du modèle d'import.
                        </div>
                    </div>
                </fieldset>
            </form>
            <form [formGroup]="syntheseForm">
                <div *ngFor="let theme of bibRes">
                    <fieldset>
                        <legend class="px-1">
                            {{theme.theme_name}}
                        </legend>
                        <div class="row m-0">
                            <div *ngIf="displayAllValues; else elseBlock"></div>
                            <ng-container *ngFor="let field of theme.fields">
                                <div class="col-6"*ngIf="checkCondition(field.name_field)">
                                    <div *ngIf="!field.autogenerated" class="form-group">
                                        <small>{{field.fr_label}} :</small>
                                        <select class="form-control form-control-sm" id="{{field.name_field}}"
                                            placeholder="Open this select menu" formControlName="{{field.name_field}}"
                                            (change)="onSelect(id_mapping, syntheseForm)">
                                            <option [value]=""></option>
                                            <option *ngFor="let column of columns" [class.isSelected]="column.selected"
                                                [value]="column.id">
                                                {{column.id}}
                                            </option>
                                        </select>

                                        <div *ngIf="field.required"
                                            [class.d-block]="syntheseForm.controls[field.name_field].hasError('required')"
                                            class="invalid-feedback">Sélectionnez
                                            {{field.name_field}}</div>
                                        <div *ngIf="field.name_field=='WKT'">
                                            <small>*si pas de WKT, indiquez longitude et latitude</small></div>
                                    </div>
                                    <div *ngIf="field.autogenerated" class="form-group">
                                        <label for="auto_check"> <small>{{field.fr_label}} :</small> </label>
                                        <input type="checkbox" id="auto_check" formControlName="{{field.name_field}}">
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </fieldset>
                </div>
                <br>
                <div class="d-flex flex-row justify-content-between">
                    <button class="btn btn-secondary box-shadow d-flex justify-content-center align-content-between"
                        (click)="onStepBack()">
                        <i class="material-icons"> navigate_before </i>
                        Précédent
                    </button>
                    <button class="btn btn-success box-shadow d-flex justify-content-center align-content-between"
                        [disabled]="fieldMappingForm.value == null || syntheseForm.invalid" (click)='onNextStep()'>
                        Suivant
                        <i class="material-icons"> navigate_next </i>
                    </button>
                   
                </div>
            </form>
            <!-- Error list in table -->


        </div>
    </div>
    <footer>
        <footer-stepper importId={{stepData.importId}}></footer-stepper>
    </footer>
</div>
<!-- Spinner -->
<div *ngIf="spinner" class="spinner">
    <mat-spinner class="upload-spinner" [color]="color" [diameter]="150" [strokeWidth]="12">
    </mat-spinner>
</div>


<ng-template #modalConfirm let-modal>

        <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Enregistrement du modèle</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                    Attention, le modèle a été modifié, voulez-vous sauvegarder ces modifications
              </div>
              <div class="modal-footer">
                    <button type="button" class="btn btn-warning" (click)="saveMappingUpdate(false); modal.close()">Ne pas enregistrer </button>
                    <button type="button" class="btn btn-success" (click)="saveMappingUpdate(true); modal.close()">Enregistrer les modifications du modèle d'import</button>
              </div>
</ng-template>