<mat-horizontal-stepper #stepper>

    <!-- STEP 1 -->
    <mat-step>
        <h4> Upload du fichier </h4>
        <br>

        <div  id="upload_files">
            <input type=file (change)="onFileSelected($event)" id="selectedFile" name="file"/>
        </div>
        <br>

        <div class="d-flex flex-row justify-content-between">
            <button class="btn btn-success box-shadow d-flex justify-content-center align-content-between" [disabled]="!isFileSelected" (click)="onUpload()" matStepperNext> 
                <i class="material-icons"> navigate_next </i> 
                Valider
            </button>        
        </div>
        <br>

    </mat-step>


    <!-- STEP 2 -->

    <mat-step>

        <h4> Mapping des champs </h4>
        <br>

        <div class="d-flex flex-row justify-content-between">
            <button class="btn btn-secondary box-shadow d-flex justify-content-center align-content-between" matStepperPrevious> 
                <i class="material-icons"> navigate_before </i> 
                Précédent
            </button>
            <button class="btn btn-success box-shadow d-flex justify-content-center align-content-between" matStepperNext> 
                <i class="material-icons"> navigate_next </i> 
                Valider
            </button>
        </div>
        
        <br>

    </mat-step>


    <!-- STEP 3 -->

    <mat-step>

        <h4> Mapping des contenus </h4>
        <br>

        <div> Pas à faire dans iteration 1 </div>

        <br>

        <div class="d-flex flex-row justify-content-between">
                <button class="btn btn-secondary box-shadow d-flex justify-content-center align-content-between" matStepperPrevious> 
                    <i class="material-icons"> navigate_before </i> 
                    Précédent
                </button>
                <button class="btn btn-success box-shadow d-flex justify-content-center align-content-between" matStepperNext> 
                    <i class="material-icons"> navigate_next </i> 
                    Valider
                </button>
            </div>
        <br>

    </mat-step>


    <!-- STEP 4 -->

    <mat-step>

        <h4> Terminer l'import </h4>
        <br>

        <div class="d-flex flex-row justify-content-between">
            <button class="btn btn-secondary box-shadow d-flex justify-content-center align-content-between" matStepperPrevious> 
                <i class="material-icons"> navigate_before </i> 
                Précédent
            </button> 
            <button class="btn btn-primary box-shadow d-flex justify-content-center align-content-between" (click)="resetStepper(stepper)" matStepperPrevious> 
                <i class="material-icons"> refresh </i> 
                Recommencer le processus d'import
            </button>
            <button class="btn btn-success box-shadow d-flex justify-content-center align-content-between" (click)="resetStepper(stepper)" matStepperPrevious> 
                <i class="material-icons"> done </i> 
                Importer les données dans Geonature
            </button>                  
        </div>
        <br>

    </mat-step>

  </mat-horizontal-stepper>

  <br>

  <div class="d-flex flex-row justify-content-between" id="bottomButtons">
  <button type="button" id="cancelImport" (click)="onCancel()" class="btn btn-danger box-shadow btn-sm">Annuler l'import</button>
  <button type="button" id="importListPage" (click)="onImportList()" class="btn btn-secondary box-shadow btn-sm">Retourner à ma liste des imports</button>
  </div>
