.modal-header {
    color:white;
    background-color:#8EAFD1;
    border-color:#0E4175;
    border-bottom-width: 1px;
  }
  
  .modal-content {
    background-color: #EAEAEA;
    border:none;
    &.ng-invalid{
      border-left: none !important;
    }
  }
  
  .modal-body{
    #validButtons:not(:last-child) label {
      color : #fff;
    }
  }
  
  .modal-footer {
    //border-color:#0E4175;
    //border-top-width: 1px;
    color:white;
    //background-color:#8EAFD1;
  }

  #warningDataset{
    color: red;
  }