<mat-horizontal-stepper [linear]="isLinear" #stepper>

    <!-- STEP 1 -->
    <mat-step [stepControl]="uploadForm">

      <ng-template matStepLabel>Upload</ng-template>

        <h4> Upload du fichier </h4>

        <br>

        <form [formGroup]="uploadForm" class="was-validated">

            <div id="upload" class="form-group">
              <div class="custom-file col-sm-5" id="upload_files">
                  <input class="custom-file-input" type=file (change)="onFileSelected($event)" id="selectedFile" name="file" required>
                  <label class="custom-file-label" for="selectedFile">Choisissez votre fichier</label>
                  {{fileName}}
              </div>
            </div>

            <p></p>
            <br>

            <div class="col-auto form-group row">
                <label class="col-sm-3 col-form-label" for="encodage"> Encodage de votre fichier </label>
                <div class="col-sm-3">
                  <select class="custom-select mr-sm-2" id="encodage" formControlName="encodage" required>
                    <option *ngFor="let encodage of IMPORT_CONFIG.ENCODAGE" [value]="encodage">{{encodage}}</option>
                  </select>
                  <div class="invalid-feedback">Sélectionnez un encodage</div>
                </div>
            </div>

            <div class="col-auto form-group row">
                <label class="col-sm-3 col-form-label" for="srid"> SRID de vos données géographiques </label>
                <div class="col-sm-3">
                  <select class="custom-select mr-sm-2" id="srid" formControlName="srid" required>
                      <option *ngFor="let srid of IMPORT_CONFIG.SRID" [value]="srid.code">{{srid.name}}</option>
                  </select>
                  <div class="invalid-feedback">Sélectionnez un SRID</div>
                </div>
            </div>

            <div class="col-auto form-group row">
                <label class="col-sm-3 col-form-label" for="srid"> Séparateur de votre fichier </label>
                <div class="col-sm-3">
                    <select class="custom-select mr-sm-2" id="separator" formControlName="separator" required>
                        <option *ngFor="let separator of IMPORT_CONFIG.SEPARATOR" [value]="separator.code">{{separator.name}}</option>
                    </select>
                    <div class="invalid-feedback">Sélectionnez un séparateur</div>
                </div>
            </div>

            <br>

            <div class="d-flex flex-row justify-content-between">
                <button class="btn btn-success box-shadow d-flex justify-content-center align-content-between" [disabled]="!isFileSelected" (click)="onUpload(uploadForm.value)" id="validate" matStepperNext>
                    <i class="material-icons"> navigate_next </i>
                    Etape suivante
                </button>
            </div>

        </form>

        <br>

    </mat-step>


    <!-- STEP 2 -->

    <mat-step>

        <h4> Mapping des champs </h4>
        <br>

        <div class="d-flex flex-row justify-content-between">
            <button class="btn btn-secondary box-shadow d-flex justify-content-center align-content-between" matStepperPrevious> 
                <i class="material-icons"> navigate_before </i> 
                Précédent
            </button>
            <button class="btn btn-success box-shadow d-flex justify-content-center align-content-between" matStepperNext> 
                <i class="material-icons"> navigate_next </i> 
                Valider
            </button>
        </div>
        
        <br>

    </mat-step>


    <!-- STEP 3 -->

    <mat-step>

        <h4> Mapping des contenus </h4>
        <br>

        <div> Pas à faire dans iteration 1 </div>

        <br>

        <div class="d-flex flex-row justify-content-between">
                <button class="btn btn-secondary box-shadow d-flex justify-content-center align-content-between" matStepperPrevious> 
                    <i class="material-icons"> navigate_before </i> 
                    Précédent
                </button>
                <button class="btn btn-success box-shadow d-flex justify-content-center align-content-between" matStepperNext> 
                    <i class="material-icons"> navigate_next </i> 
                    Valider
                </button>
            </div>
        <br>

    </mat-step>


    <!-- STEP 4 -->

    <mat-step>

        <h4> Terminer l'import </h4>
        <br>

        <div class="d-flex flex-row justify-content-between">
            <button class="btn btn-secondary box-shadow d-flex justify-content-center align-content-between" matStepperPrevious> 
                <i class="material-icons"> navigate_before </i> 
                Précédent
            </button> 
            <button class="btn btn-primary box-shadow d-flex justify-content-center align-content-between" (click)="resetStepper(stepper)" matStepperPrevious> 
                <i class="material-icons"> refresh </i> 
                Recommencer le processus d'import
            </button>
            <button class="btn btn-success box-shadow d-flex justify-content-center align-content-between" (click)="resetStepper(stepper)" matStepperPrevious> 
                <i class="material-icons"> done </i> 
                Importer les données dans Geonature
            </button>                  
        </div>
        <br>

    </mat-step>

  </mat-horizontal-stepper>

  <br>

  <div class="d-flex flex-row justify-content-between" id="bottomButtons">
  <button *ngIf="isUploaded" type="button" id="cancelImport" (click)="cancelImport()" class="btn btn-danger box-shadow btn-sm">Annuler l'import</button>
  <button type="button" id="importListPage" (click)="onImportList()" class="btn btn-secondary box-shadow btn-sm">Retourner à ma liste des imports</button>
  </div>
