<div class="container">
    
    <h3>Liste des imports</h3>

    <p></p>
    
    <div *ngIf="!empty">
        <ngx-datatable
            #table 
            class="material striped no-box-shadow" 
            [rows]="history"
            [columnMode]="'force'"
            [headerHeight]="35"
            [footerHeight]="40"
            [rowHeight]="40"
            [draggable]="false"
            [limit]="15">

            <ngx-datatable-column 
                *ngFor="let col of IMPORT_CONFIG.LIST_COLUMNS_FRONTEND" name="{{col.name}}" prop="{{col.prop}}" maxWidth="{{col.max_width}}">
            </ngx-datatable-column>

            
            <ngx-datatable-column [width]="60" name="Statut">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <button class="clickable btn btn-sm btn-primary" style="margin-top: -10px;" (click)="go_to_step(id)"> Finir
                    <!--
                        <button class="clickable btn btn-sm btn-primary" style="margin-top: -5px;" [disabled]="cruvedStore.cruved?.METADATA?.cruved.U === '0'" [routerLink]="['/metadata/dataset', row.id_dataset]" > 
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    -->
                    </button>
                </ng-template>
            </ngx-datatable-column>
            -->
        

        </ngx-datatable>
    </div>
    <div *ngIf="empty">
        Vous n'avez effectué aucun import
    </div>

    <p></p>

    <button type="button" id="start_process" (click)="onProcess()" class="btn btn-primary box-shadow">Nouvel Import</button>

    <!-- MODEL FOR SELECTION OF THE DATASET -->
    <ng-template #ImportModalDataset let-c="close " let-d="dismiss">

        <pnx-import-modal-dataset></pnx-import-modal-dataset>
    
    </ng-template>

</div>
