<div class="container">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title mb-0">Liste des imports</h5>
        </div>
        <div class="card-body">
            <div *ngIf="!empty">
                <ngx-datatable #table class="material striped" [rows]="history" [columnMode]="'force'"
                    [headerHeight]="35" [footerHeight]="40" [rowHeight]="40" [limit]="15" [selectionType]='single'>
                    <ngx-datatable-column *ngFor="let col of config.LIST_COLUMNS_FRONTEND" name="{{col.name}}"
                        prop="{{col.prop}}" maxWidth="{{col.max_width}}">
                    </ngx-datatable-column>
                    <ngx-datatable-column maxWidth="200" name="Fin import" prop="date_end_import">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <button *ngIf="!row.is_finished" class="clickable btn btn-sm btn-dark" style="margin-top: -10px;"
                                (click)="onFinishImport(row)"> Finir 
                            </button>
                            <p *ngIf="row.is_finished" >{{row.date_end_import}}</p>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column maxWidth="120" >
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <button *ngIf="(row.is_finished) && ((row.source_count - row.import_count) > 0)" class="clickable btn btn-sm btn-warning" style="margin-top: -10px;"
                            (click)="_csvExport.onCSV(row.id_import)" 
                            title='Téléchargement des données invalides'> 
                            <i class="fa fa-download"></i>
                            </button>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </div>
            <div *ngIf="empty">
                Vous n'avez effectué aucun import
            </div>
            <import-modal-dataset class="pull-right mt-3"></import-modal-dataset>
        </div>
    </div>
</div>