<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title mb-0">Liste des imports</h5>
        </div>
        <div class="card-body">
            <div *ngIf="!empty">
                <div class="row">
                    <input
                        [formControl]="search"
                        id="search"
                        type="text"
                        class="form-control col-12 col-lg-9"
                        placeholder="Search"
                        aria-label="Search"
                        aria-describedby="basic-addon1"
                    />
                    <mat-checkbox 
                        class="col-3" 
                        color="warn"
                        matTooltip="Afficher uniquement les imports nécessitant des corrections"
                        (change)="fixOnly($event)" 
                        [(ngModel)]="checked"
                    
                    >Afficher uniquement les imports nécessitant des corrections</mat-checkbox>
                </div>
                <ngx-datatable
                    #table
                    class="material striped"
                    [rows]="filteredHistory"
                    [columnMode]="'force'"
                    [headerHeight]="35"
                    [footerHeight]="40"
                    [rowHeight]="40"
                    [limit]="15"
                    [selectionType]='single'
                    [sorts]="[{prop: 'id_import', dir: 'desc'}]"
                >
                    <ngx-datatable-column
                        *ngFor="let col of config.LIST_COLUMNS_FRONTEND"
                        name="{{col.name}}"
                        [prop]="col.prop"
                        [maxWidth]="col.max_width"
                    >
                        <div *ngIf="col.prop=='dataset_name'">
                            <ng-template
                                let-row="row"
                                ngx-datatable-cell-template
                            >
                                <a
                                    routerLink="/metadata/dataset_detail/{{row.id_dataset}}"
                                    matTooltip="Voir la fiche du JDD"
                                >{{row.dataset_name}}</a>
                            </ng-template>
                        </div>
                        <div *ngIf="col.prop=='date_create_import'">
                            <ng-template
                                let-row="row"
                                ngx-datatable-cell-template
                            >
                                {{row.date_create_import |date:'dd-MM-yyyy'}}
                            </ng-template>
                        </div>
                    </ngx-datatable-column>
                    <ngx-datatable-column
                        maxWidth="100"
                        name="Fin import"
                        [sortable]="true"
                        prop="date_end_import"
                        class="date-col"
                    >
                        <ng-template
                            let-row="row"
                            ngx-datatable-cell-template
                        >
                            <span
                                *ngIf="row.in_error; else elseBlock"
                                class="badge font-size-medium"
                            >
                                Import en erreur
                            </span>
                            <ng-template #elseBlock>
                                <div *ngIf="!row.is_finished">
                                    <button
                                        [disabled]="!row?.cruved?.U"
                                        mat-raised-button
                                        color="primary"
                                        *ngIf="!row.processing"
                                        class="clickable btn-dark"
                                        style="margin-top: -10px;"
                                        (click)="onFinishImport(row)"
                                    >
                                        {{row.processing ? 'Traitement en cours' : 'Finir'}}
                                    </button>
                                    <span
                                        *ngIf="row.processing"
                                        class="badge font-size-medium"
                                    >
                                        Traitement en cours...
                                    </span>
                                </div>

                                <p *ngIf="row.is_finished">{{row.date_end_import |date:'dd-MM-yyyy'}}</p>
                            </ng-template>

                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column
                        maxWidth="200"
                        name="Rapport"
                        [sortable]="true"
                    >
                        <ng-template
                            let-row="row"
                            ngx-datatable-cell-template
                        >
                            <button
                                matTooltip="Rapport"
                                mat-icon-button 
                                [routerLink]="['report', row.id_import]"
                            >
                                <mat-icon color="primary" style="text-align: center;">info</mat-icon>
                            </button>
                            <mat-icon *ngIf="row.need_fix"
                                color="warn">
                                warning
                            </mat-icon>
                            <button
                                *ngIf="(row.is_finished) && ((row.source_count - row.import_count) > 0)"
                                mat-icon-button
                                (click)="_csvExport.onCSV(row.id_import)"
                                matTooltip='Téléchargement des données invalides'
                            >
                            <mat-icon color="primary">download</mat-icon>
                        </button>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column
                        maxWidth="80"
                        name="Suppr."
                    >
                        <ng-template
                            let-row="row"
                            ngx-datatable-cell-template
                        >
                            <button
                                [disabled]="!row?.cruved?.D"
                                mat-icon-button
                                (click)="openDeleteModal(row, deleteModal)"
                                matTooltip="Supprimer l'import"
                            >
                                <mat-icon color="warn">delete</mat-icon>
                            </button>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </div>
            <div *ngIf="empty">
                Vous n'avez effectué aucun import
            </div>
            <import-modal-dataset class="pull-right mt-3"></import-modal-dataset>

            <ng-template
                #deleteModal
                let-c="close "
                let-d="dismiss"
            >

                <import-delete
                    [row]="deleteOne"
                    [c]="c"
                    (onDelete)="onImportList()"
                >
                </import-delete>

            </ng-template>
        </div>
    </div>
</div>