<div class=container>
    <stepper [step]=1></stepper>
    <div class="card">
        <div class="card-header">
            <h5 class="card-title mb-0"> Upload du fichier </h5>
        </div>
        <div class="card-body">
            <form  [formGroup]="uploadForm" class="was-validated">
                <div class="form-group">
                    <label>Importer un fichier :</label>
                    <div class="custom-file" id="upload_files">
                        <input class="custom-file-input" type=file (click)="onFileClick($event)"
                            (change)="onFileSelected($event)" id="selectedFile" name="file" >
                        <label *ngIf="fileName" class="custom-file-label" [class.error-file]="uploadForm.get('file').errors" for="selectedFile">{{fileName}}</label>
                        <label *ngIf="!fileName" class="custom-file-label" [class.error-file]="uploadForm.get('file').errors" for="selectedFile"> Choisissez
                            votre
                            fichier</label>
                    </div>
                </div>
                <!-- Encoding field -->
                <div class="form-group">
                    <label> Encodage de votre fichier :</label>
                    <select class="custom-select mr-sm-2" id="encodage" formControlName="encodage" required>
                        <option *ngFor="let encodage of importConfig.ENCODAGE" [value]="encodage">
                            {{encodage}}
                        </option>
                    </select>
                    <div class="invalid-feedback">Sélectionnez un encodage</div>
                </div>
                <!-- SRID field -->
                <div class="form-group">
                    <label>SRID de vos données géographiques :</label>
                    <select class="custom-select mr-sm-2" id="srid" formControlName="srid" required>
                        <option *ngFor="let srid of importConfig.SRID" [value]="srid.code">
                            {{srid.name}}
                        </option>
                    </select>
                    <div class="invalid-feedback">Sélectionnez un SRID</div>
                </div>
                <!-- separator field -->
                <div class="form-group">
                    <label>Séparateur de votre fichier :</label>
                    <select class="custom-select mr-sm-2" id="separator" formControlName="separator" required>
                        <option *ngFor="let separator of importConfig.SEPARATOR" [value]="separator.code">
                            {{separator.name}}</option>
                    </select>
                    <div class="invalid-feedback">Sélectionnez un séparateur</div>
                </div>
            </form>
            <!-- Navigation buttons -->
            <div class="navigate-btn">
                <button type="submit"
                    class="btn btn-success box-shadow d-flex justify-content-center align-content-between"
                    (click)="onUpload(uploadForm.value)" [disabled]="isDisable()" id="validate">
                    Suivant
                    <i class="material-icons"> navigate_next </i>
                </button>
            </div>
            <!-- Error list in table -->
            <div id="errorList" *ngIf="uploadFileErrors">
                <div> Attention, erreurs detectées dans le fichier uploadé : </div>
                <table>
                    <thead>
                        <tr>
                            <th class="Code"> Code </th>
                            <th class="Message"> Message </th>
                            <th class="MessageData"> Message Data </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let error of uploadFileErrors">
                            <td> {{error.code}} </td>
                            <td> {{error.message}} </td>
                            <td> {{error.message_data}} </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <footer>
        <footer-stepper></footer-stepper>
    </footer>
</div>
<!-- Spinner -->
<div *ngIf="spinner" class="spinner">
    <mat-spinner class="upload-spinner" [color]="color" [diameter]="150" [strokeWidth]="12">
    </mat-spinner>
</div>