@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.vl {
  border-top: 2px solid rgba(0, 0, 0, 0.125);
  padding-top: 20px;
}
@include media-breakpoint-up(lg) {
  .vl {
    border-left: 2px solid rgba(0, 0, 0, 0.125);
    border-top: none;
    padding-left: 20px;
  }
}
