<div class=container>
    <mat-horizontal-stepper linear #stepper>
        <!-- STEP 1 -->
        <mat-step label="Upload du fichier" [stepControl]="step1Control">
            <upload-file-step [importId]="importId"></upload-file-step>
        </mat-step>
        <!-- STEP 2-->
        <mat-step label=" Mapping des champs" [stepControl]="step2Control">
            <fields-mapping-step [importId]="importId" [srid]="srid" [columns]="columns"></fields-mapping-step>
        </mat-step>
        <!-- STEP 3 -->
        <mat-step label="Mapping des contenus" [stepControl]="step3Control">
            <content-mapping-step [contentMappingInfo]="contentMappingInfo" [table_name]="table_name" [selected_columns]="selected_columns" ></content-mapping-step>
        </mat-step>
        <!-- STEP 4 -->
        <mat-step label="Importer les données" [stepControl]="">
            <import-step [importId]="importId" [table_name]="table_name" [selected_columns]="selected_columns" [added_columns]="added_columns"></import-step>
        </mat-step>
    </mat-horizontal-stepper>

    <footer>

        <div class="d-flex flex-row justify-content-between" id="bottomButtons">
            <button type="button" id="cancelImport" (click)="cancelImport()"
                class="btn btn-danger box-shadow btn-sm">Annuler l'import</button>
            <button *ngIf="!isStep1" type="button" id="importListPage" (click)="onImportList()"
                class="btn btn-secondary box-shadow btn-sm">Enregistrer et quitter</button>
        </div>

    </footer>

</div>