.mat-stepper-horizontal {
  background: none
}

/deep/.mat-horizontal-stepper-header-container {
  margin: 10px 0
}

/deep/.mat-step-header .mat-step-icon {
  background-color: #28a745;
}

/deep/.mat-stepper-horizontal-line {
  border-top-width: 1.5px !important;
}