// .card-body p {
//     margin-bottom: 5px;
// }

.card.main {
    background-color: lightgray;
}

.card.content {
    margin-bottom: 10px;
    border-radius: 10px;
    
}

.flex-row{
    display: flex;
    flex-wrap: wrap;
}

.material-icons.md-60 { font-size: 60px; }

.btn.btn-secondary {
    background-color: #c05526;
    border-color: #c05526;
    margin: 10px;
    border-radius: 10px;
}

h3.data {
    color: green;
}

h3.errors {
    color: red;
}

