# Bounding box des données de l'instance. 
# Utilisé pour lever des warning lorsque les données sont en dehors. 
# Format: [XMIN, YMIN, XMAX, YMAX]
# Par défaut: France métropolitaine incluant la Corse
INSTANCE_BOUNDING_BOX = [-5.0, 41.0, 10.0, 51.15]
# Est-ce que l'on vérifie que les données sont bien dans la bounding box
ENABLE_BOUNDING_BOX_CHECK = true

# Est-ce que l'on vérifie que les UUID fournis sont déjà dans la synthese de GeoNature
# Mettre à false dans le cas d'une synthese volumineuse (Ne prévient pas d'eventuels doublons d'UUID dans la Synthese)
ENABLE_SYNTHESE_UUID_CHECK = true

# Taille maximale du fichier chargé (en Mo)
MAX_FILE_SIZE=500
# SRID autorisés pour les fichiers en entrée
SRID = [
  {name = "WGS84", code = 4326}, 
  {name = "Lambert93", code = 2154}
]
# Extensions autorisées (seul le csv et geojson sont acceptés)
# On peut donc uniquement enlever un des deux formats
ALLOWED_EXTENSIONS = [".csv", ".geojson"]

# Activer ou non l'étape du mapping des valeurs
ALLOW_VALUE_MAPPING = true

# Si le mapping des valeurs est désactivé, specifier l'identifiant du mapping qui doit être utilisé
DEFAULT_VALUE_MAPPING_ID = 3

# rempli les valeurs de nomenclature erroné par la valeur par defaut 
# Leve un warning et non une erreur sur les lignes concernées
FILL_MISSING_NOMENCLATURE_WITH_DEFAULT_VALUE = false

# Nombre de lignes à partir duquel l'import est fait en tâche de fond
MAX_LINE_LIMIT = 10000

# Encodages acceptés
ENCODAGE = ["UTF-8"]

# Afficher le bouton pour afficher/masquer les champs déjà mappés
DISPLAY_CHECK_BOX_MAPPED_FIELD = true

# Active la vérification de l'existence du champs "floutage" si le JDD est privé
CHECK_PRIVATE_JDD_BLURING = true
# Active la vérification qu'une ref biblio est fournie si la valeur du champs source = "litterature"
CHECK_REF_BIBLIO_LITTERATURE = true
# Active la vérification qu'une preuve d'existance est fournie si preuve existance = "oui"
CHECK_EXIST_PROOF = true
# Active la vérification de cohérence entre le TypeInfoGeo et les éventuels rattachements géographiques fournis
CHECK_TYPE_INFO_GEO = true
# Active la restriction de territoire
ID_AREA_RESTRICTION = 999999
# Active la restriction de territoire
ID_LIST_TAXA_RESTRICTION = 100