<div class=container>
    <stepper [step]=4></stepper>

    <div *ngIf="tableReady" class="card">
        <div class="card-header">
            <h5 class="card-title mb-0">
                Récapitulatif avant import
            </h5>
        </div>
        <div class="card-body">
            <div class="row no-gutters">
                <div class="titre-recap col-12 col-sm-6 col-md-8">
                    <h4> 
                        <i class="icone-recap fa fa-map-marker" aria-hidden="true"></i>
                        Zone géographique
                    </h4>
                    <pnx-map height="40vh" searchBar="false">
                        <pnx-geojson
                        [geojson]="this.validBbox"
                        [zoomOnFirstTime]="true"
                        >
                        </pnx-geojson>
                    </pnx-map>
                </div>
                    <div class="titre-recap col-6 col-md-4">
                    <h4>
                        <i class="icone-recap fa fa-wrench" aria-hidden="true"></i>
                        Rapports
                    </h4> 
                    <div>
                        <div class="content-report">
                            <a target="_blank" [routerLink]="['/import/errors', stepData.importId]"> Rapport d'erreurs </a>
                        </div>
                        <div class="content-report">
                            <a [routerLink]="" (click)="_csvExport.onCSV(stepData.importId)"> Exporter vos {{nInvalidData}} observations invalides </a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="tableReady" class="card">
        <div class="card-header">
            <h5 class="card-title mb-0">
                Prévisualisation des observations valides prêtes à être importées
            </h5>
        </div>
        <div class="card-body">

                <ngx-datatable *ngIf="tableReady" #table class="material striped" [rows]="rows" [columnMode]="'force'"
                    [headerHeight]="35" [scrollbarH]="true" [footerHeight]="40" [rowHeight]="40" [limit]="15"
                    [selectionType]='single'>
                    <ngx-datatable-column *ngFor="let col of columns" name="{{col.name}}" prop="{{col.prop}}">
                    </ngx-datatable-column>
                </ngx-datatable>

                <br />

                <div class="d-flex flex-row justify-content-between">
                    <button (click)="onStepBack()"
                        class="btn btn-secondary box-shadow d-flex justify-content-center align-content-between">
                        <i class="material-icons"> navigate_before </i>
                        Précédent
                    </button>
                    <button *ngIf="nValidData > 0" class="btn btn-success box-shadow d-flex justify-content-center align-content-between"
                        (click)="onImport()">
                        <i class="material-icons"> done </i>
                        Importer vos {{nValidData}} observations valides
                    </button>
                </div>
        </div>
        <footer>
            <footer-stepper importId={{stepData.importId}}></footer-stepper>
        </footer>
    </div>
</div>
<div *ngIf="spinner" class="spinner">
    <mat-spinner class="upload-spinner" [color]="color" [diameter]="150" [strokeWidth]="12">
    </mat-spinner>
</div>