table {
  width: 100%;
  border-collapse: collapse;
  color: black;
  background-color: rgb(241, 241, 241);
}
ngx-datatable{
  box-shadow: none !important
}

.navigate-btn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}



