<div class=container>
    <stepper [step]=3></stepper>
    <div class="card">
        <div class="card-header">
            <h5 class="card-title mb-0"> Correspondance des nomenclatures </h5>
        </div>
        <div class="card-body">

        <!-- Choix de la liste des nomenclatures -->
        <form class="was-validated">
                <fieldset>
                    <div *ngIf="cruvedStore?.cruved?.IMPORT.module_objects.MAPPING.cruved.R != '0'">
                        <legend class="px-1">
                                Choix du modèle d'imports
                        </legend>
                        <div class="form-group">
                            <select class="form-control form-control-sm" id="contentMappingSelection"
                                [formControl]="mappingListForm">
                                <option *ngFor="let data of _cm.userContentMappings" [ngValue]="data">
                                    {{data.mapping_label}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <button             
                                *ngIf="cruvedStore?.cruved?.IMPORT.module_objects.MAPPING.cruved.C != '0'"
                                class="btn btn-secondary btn-sm box-shadow d-flex justify-content-center align-content-between mb-3"
                                (click)="_cm.createMapping(newMappingNameForm)">
                                Nouveau modèle d'import
                            </button>
                        </div>
                        <div class="col" *ngIf='displayCheckBox'>
                            <input type="checkbox" [(ngModel)]="_cm.displayMapped" [ngModelOptions]="{standalone: true}">
                            Afficher les champs automatiquement associés
                        </div>
                    </div>
                    <div *ngIf="n_mappes != -1">
                        <div *ngIf="n_aMapper ==  n_mappes" class="alert alert-success">
                            L'ensemble des valeurs du fichier a été automatiquement associé aux nomenclatures.
                        </div>
                        <div *ngIf="n_mappes == 1" class="alert alert-success">
                            Une seule valeur du fichier a été automatiquement associée aux valeurs des nomenclatures. <br/>
                            {{n_aMapper}} restent à associer manuellement.
                        </div>
                        <div *ngIf="n_mappes > 1" class="alert alert-success">
                            {{n_mappes}} champs du fichier ont été automatiquement associés aux champs du modèle d'import. <br/>
                            {{n_aMapper}} restent à associer manuellement.
                        </div>
                        <div *ngIf="n_mappes == 0" class="alert alert-danger">
                            Aucune valeur du fichier n'a pu être associée aux valeurs des nomenclatures.
                        </div>
                    </div>
                    <div *ngIf="_cm.newMapping" class="d-flex flex-row justify-content-between form_group" id="newMap">
                        <input type="text" class="form-control mr-2" value="Inconnu" [formControl]="newMappingNameForm">
                        <button class="btn btn-success box-shadow d-flex justify-content-center align-content-between mr-2"
                            (click)="saveMappingName()">
                            ok
                        </button>
                        <button class="btn btn-secondary box-shadow d-flex justify-content-center align-content-between"
                            (click)="_cm.cancelMapping(contentMappingForm)">
                            annuler
                        </button>
                    </div>
                </fieldset>
            </form>

        <form [formGroup]="contentTargetForm" *ngIf="showForm">
            <div *ngFor="let contentMapping of stepData.contentMappingInfo">
                <div [hidden]="(!containsEnabled(contentMapping) && !_cm.displayMapped)" class="card field-card">
                    <div class="field-header" (click)="contentMapping.isCollapsed = !contentMapping.isCollapsed">
                        <div class="card-title mb-0">{{contentMapping.nomenc_name}}</div>
                        <i *ngIf="contentMapping.isCollapsed" class="material-icons">keyboard_arrow_down</i>
                        <i *ngIf="!contentMapping.isCollapsed" class="material-icons">keyboard_arrow_up</i>
                    </div>
                    <div [ngbCollapse]="contentMapping.isCollapsed" class="card-body">
                        <div *ngIf="contentMapping.user_values.values.length > 0 && mappingListForm.value != null" class="alert alert-warning">
                            <b> Attention: </b> des valeurs du fichiers n'ont trouvé aucune correspondance dans le modèle selectionné:
                            <ul>
                                <li *ngFor="let item of contentMapping.user_values.values">
                                    {{item.value}}
                                </li>
                            </ul>
                        </div>
                        <div *ngFor="let value_def of contentMapping.nomenc_values_def">
                            <div *ngIf="isEnabled(value_def.id) || _cm.displayMapped" class="form-group row">
                                <label class="col-sm-4 col-form-label">{{value_def.value}} :</label>
                                <div class="col-sm-8">
                                    <pnx-multiselect 
                                        [values]="contentMapping.user_values.values"
                                        [parentFormControl]="contentTargetForm.controls[value_def.id]"
                                        keyLabel="value" 
                                        keyValue="value" 
                                        debounceTime="500"
                                        [searchBar]="false"
                                        [disabled]="disabled"
                                        [bindAllItem]="true"
                                        (onChange) = "onSelectChange($event,contentMapping,value_def.id)"
                                        (onDelete) = "onSelectDelete($event,contentMapping,value_def.id)"
                                        >
                                    </pnx-multiselect>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="d-flex flex-row justify-content-between">
                <button class="btn btn-secondary box-shadow d-flex justify-content-center align-content-between"
                    (click)="onStepBack()">
                    <i class="material-icons"> navigate_before </i>
                    Précédent
                </button>
                <button 
                    class="btn btn-warning box-shadow d-flex justify-content-center align-content-between"
                    *ngIf="(n_errors > 0 || n_warnings > 0) && contentMapRes"
                >
                    <a target="_blank" [routerLink]="['/import/errors', stepData.importId]">
                        <span *ngIf="n_errors > 0">{{n_errors}} erreur(s) détectée(s) - </span>
                        <span *ngIf="n_warnings > 0">{{n_warnings}} lignes avec avertissement - </span>
                        Voir le rapport complet
                    </a>
                </button>
                <!-- <button (click)="onContentMapping(contentTargetForm.value)"
                        class="btn btn-success box-shadow d-flex justify-content-center align-content-between"
                        [disabled]="disabled"
                        *ngIf="showValidateMappingBtn"
                    >
                        Valider le mapping
                <span *ngIf="n_errors == 0 && n_warnings == 0" class="alert alert-success"> Aucune erreur détéctée dans le fichier </span>
                </button> -->
                <span *ngIf="n_errors == 0" class="alert alert-success"> Aucune erreur détéctée dans le fichier </span>

                <button
                    class="btn btn-success box-shadow d-flex justify-content-center align-content-between"
                    [disabled]="disabled"
                    (click)="goToPreview()"
                >
                    Suivant
                    <i class="material-icons"> navigate_next </i>
                </button>
            </div>
        </form>
    </div>
    <footer>
        <footer-stepper importId={{stepData.importId}}></footer-stepper>
    </footer>
</div>
<!-- Spinner -->
<div *ngIf="spinner" class="spinner">
    <mat-spinner class="upload-spinner" [color]="color" [diameter]="150" [strokeWidth]="12">
    </mat-spinner>
</div>

<ng-template #modalConfirm let-modal>

    <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Enregistrement du modèle</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
                Attention, le modèle a été modifié, voulez-vous sauvegarder ces modifications
          </div>
          <div class="modal-footer">
                <button type="button" class="btn btn-warning" (click)="saveMappingUpdate(false); modal.close()">Ne pas enregistrer </button>
                <button type="button" class="btn btn-success" (click)="saveMappingUpdate(true); modal.close()">Enregistrer les modifications du modèle d'import</button>
          </div>
</ng-template>